<div class="buy-too-card">
    <div class="buy-too-card__image image-wrapper">
        {{
            variant.featured_image
            | image_url: width: 1100
            | image_tag: loading: 'lazy', widths: '550, 720, 990, 1100'
        }}
    </div>
    <div class="buy-too-card__content">
        <h4 class="buy-too-card__title">{{ variant.title }}</h4>
        <p class="buy-too-card__price">{{ variant.price | money }}</p>
        <p class="buy-too-card__available">
            Varastossa
        </p>
        <button class="buy-too-card__button primary-btn">{{ section.settings.btn_text }}</button>
    </div>
</div>