<div class="card-variants">
    {%- for option in card_product.options_with_values -%}
        {% assign formatedOptionName = option.name | strip | downcase %}
        {% if formatedOptionName contains 'kangas' %}
            <div class="card-color-options">
                {% assign optionSize = option.values | size %}
                {%- for value in option.values -%}
                    {% assign colorHex = 'background-color: #000000' %}
                    {% for color in colorSwatch %}
                        {% assign colorHexFromSettings = color | split: ':' | last | strip %}
                        {% assign colorNameFromSettings = color | split: ':' | first | strip | downcase %}
                        {% assign formatedColorNameFromOption = value | strip | downcase %}
                        {% if colorNameFromSettings == formatedColorNameFromOption %}
                            {%- if colorHexFromSettings contains '#' -%}
                                {%- assign colorHex = 'background-color: ' | append: colorHexFromSettings -%}
                                {%- break -%}
                            {%- elsif images[colorHexFromSettings] != blank -%}
                                {%- assign color_swatch_image = images[colorHexFromSettings] | img_url: '100x100' -%}
                                {%- assign colorHex = 'background-image: url(' | append: color_swatch_image | append: ')' -%}
                                {%- break -%}
                            {%- else -%}
                                {% assign colorHex = 'background-color: #000000' %}
                                {%- break -%}
                            {%- endif -%}
                        {% endif %}
                    {% endfor %}

                    {% if forloop.index == 5 %}
                        <span class="lastColor">+{{ optionSize | minus: 4 }} {{ settings.colors_collection }}</span>
                        {% break %}
                    {% else %}
                        <span style="{{ colorHex }};"></span>
                    {% endif %}
                {%- endfor -%}
            </div>
        {% endif %}
    {%- endfor -%}
</div>