{% if product.vendor != blank %}
    {% unless block.settings.not_show_vendor contains product.vendor %}
        {% assign brandImage = product.vendor | replace: " ", "-" | downcase | append: "-logo.png" | file_url %}
        {% if brandImage %}    
            <div class="delivery-info" id="delivery-info-{{ section.id }}">
                <div class="delivery-info__item delivery-info__item--brands">
                    <img src="{{ brandImage}}">
                </div>
            </div>
        {% endif %}
    {% endunless %}
{% endif %}