.breadcrumbs {
    padding: 30px 0;
}

.breadcrumbs.collection{
    padding: 30px 0;
}

.breadcrumbs__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.breadcrumbs--overflow .breadcrumbs__list {
    justify-content: flex-start;
}

.breadcrumbs__item:first-child{
    padding-right: 10px;
}

.breadcrumbs__item:not(:first-child){
    padding-left: 10px;
}

.breadcrumbs__item {
    position: relative;
}

.breadcrumbs__item:not(:first-child)::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background: var(--color-text-primary);
    border-radius: 50%;
}

.breadcrumbs__link, .breadcrumbs__item a{
    display: inline-block;
    text-decoration: none;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-text-primary);
    margin: 0;
}

.breadcrumbs__item a{
    padding-right: 10px;
}

@media only screen and (min-width: 750px) {
    .breadcrumbs {
        padding: 40px 0;
    }

    .breadcrumbs__list {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 990px) {
    .breadcrumbs {
        /*padding: 30px 0;*/
    }
}