.announcment-bar__slider {
    width: calc(100% + 6px);
    font-size: 0;
}

.announcment-bar__slider .announcement-bar {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1px;
    background-color: var(--color-accent-2);
}

.announcment-bar__slider .announcement-bar p {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}