.article-list {
    padding: 0 15px;
    text-align: center;
}

.article-list__title {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    text-transform: capitalize;
    color: #1A1919;
    margin: 0 0 40px;
    text-align: left;
}

.article-list__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 40px;

}

.article-list__load-more {
    position: relative;
}

.article-list__load-more.hidden {
    display: none;
}

.article-list__load-more.loading {
    pointer-events: none;
}

.article-list__load-more .article-list__load-more--loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
}

.article-list__load-more .article-list__load-more--loading svg {
    fill: #0F4880;
}

.article-list__load-more.loading .article-list__load-more--loading {
    opacity: 1;
    visibility: visible;
}

.article-list__load-more.loading .article-list__load-more--main-text {
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 769px) {
    .article-list {
        padding: 0 50px;
    }

    .article-list__title {
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 50px;
    }
    
    .article-list__grid {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        column-gap: 20px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1025px) {
    .article-list {
        padding: 0 100px;
    }

    .article-list__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}