.buy-too {
    padding: 40px 15px;
    background-color: #F4F4F2;
}

.buy-too__title {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--color-text-primary);
    margin: 0 0 40px;
}

.buy-too__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    width: 100%;
    max-width: 100%;
}

.buy-too-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.buy-too-card__content {
    flex: 1;
    padding: 10px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buy-too-card__title {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-text-primary);
    margin: 0 0 10px;
}

.buy-too-card__price {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--color-text-primary);
    margin: 0 0 10px;
}

.buy-too-card__available {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 0 15px;
}

.buy-too-card__available--false .buy-too-card__available--in-stock {
    display: none;
}

.buy-too-card__available--true .buy-too-card__available--out-stock {
    display: none;
}

.buy-too-card__available::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1EC124;
}

.buy-too-card__available--false::before {
    background-color: var(--color-background-1);
}

.buy-too-card__button {
    padding: 10px 43px;
    margin: 0 auto;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
}

.buy-too-card__button.out-of-stock {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
}

.buy-too-card__button .spinner {
    display: none;
}

.buy-too-card__button .out-of-stock-text {
    display: none;
}

.buy-too-card__button.processing .spinner {
    display: block;
}

.buy-too-card__button.out-of-stock .out-of-stock-text {
    display: block;
}

.buy-too-card__button.processing .main-text,
.buy-too-card__button.out-of-stock .main-text {
    display: none;
}

.buy-too-card__button.processing .out-of-stock-text {
    display: none;
}

.buy-too-card__button.out-of-stock {
    padding: 10px 20px;
    width: fit-content;
}

@media screen and (min-width:750px) {
    .buy-too__grid {
        grid-template-columns: repeat(4 ,1fr);
    }

    .buy-too__title {
        font-size: 30px;
    }

    .buy-too-card__available {
        font-size: 12px;
    }

    .buy-too-card__available::before {
        width: 8px;
        height: 8px;
    }
}

@media screen and (min-width:990px) {
    .buy-too {
        padding: 50px 100px;
    }

    .buy-too__grid {
        column-gap: 20px;
        row-gap: 30px;
    }

    .buy-too__title {
        margin: 0 0 50px;
    }

    .buy-too-card__content {
        padding: 15px 15px 30px;
    }

    .buy-too-card__button {
        padding: 20px 49px;
        max-width: 210px;
        font-size: 14px;
        line-height: 16px;
    }

    .buy-too-card__button.out-of-stock {
        padding: 20px;
        width: fit-content;
    }

}


@media screen and (min-width:1400px) {
    .buy-too {
        padding: 50px 190px;
    }
}