.custom-product .product__title {
    margin: 0 0 20px;
}

.custom-product .product__title h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--color-text-primary);
    letter-spacing: 0;
}

.custom-product .price .price-item {
    margin: 0 20px 0 0;
}

.custom-product .product__info-container > * + * {
    margin: 20px 0;
}

.custom-product .product .price .badge, .custom-product .product .price__container {
    margin: 0;
}

.custom-product .price .price-item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-text-primary);
    letter-spacing: 0;
}

.custom-product .product__info-container .price--on-sale .price-item--regular {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /*color: var(--color-accent-1);*/
    color: #C8C8C8;
    letter-spacing: 0;
}

.custom-product .price .price-item {
    color: var(--color-accent-1);
}

.custom-product .product-form__input .form__label {
    margin: 0 0 15px;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--color-text-primary);
    letter-spacing: 0;
}

.custom-product .product-form__input .select {
    max-width: 100%;
}

.custom-product .product-form__input .select svg {
    right: 18px;
}

.custom-product .product-form__input .select__select {
    border: 1px solid var(--color-text-primary);
    padding: 15px;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    color: var(--color-text-primary);
    height: 46px;
    box-sizing: border-box;
    letter-spacing: 0;
}

.custom-product .custom-quantity-wrapper {
    padding: 16px;
    background-color: #F4F4F2;
    margin: 20px -15px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 10px;
}

.custom-product .custom-quantity-container {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.product-form .aiod-wholesale-discount-topbar,
.product-form .aiod-bogo-discount-wrap,
.product-form .aiod-volume-discount-wrap{
    display: none !important;
    margin: 0 !important;
}

.custom-product .custom-quantity-wrapper .price--based-quiantity {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    letter-spacing: 0;
    color: var(--color-text-primary);
    flex: 1 1 100%;
    text-align: center;
    display: grid;
}

.custom-product .custom-quantity-wrapper .quantity {
    box-sizing: border-box;
    align-items: center;
    border: 1px solid var(--color-text-primary);
    justify-content: space-between;
    max-height: 100%;
    height: 100%;
}

.custom-product .custom-quantity-wrapper .product-form__quantity {
    flex: 1 1 141px;
    margin: 0;
}

.custom-product .custom-quantity-wrapper .buy-buttons__wrapper {
    flex: 1 1 192px;
}

.custom-product .custom-quantity-wrapper .buy-buttons__wrapper pickup-availability {
    display: none;
}

.custom-product .custom-quantity-wrapper .quantity__button {
    padding: 15px;
}

.custom-product .custom-quantity-wrapper .quantity__button svg {
    width: 14px;
    height: 14px;
}

.custom-product .custom-quantity-wrapper .buy-buttons__wrapper * {
    margin: 0;
}

.custom-product .custom-quantity-wrapper .quantity__input {
    padding: 11px 8px;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: capitalize;
    color: var(--color-text-primary);
    flex: 1;
    max-width: 50px;
}

.custom-product .custom-quantity-wrapper .quantity__input:focus {
    background-color: transparent;
    outline: transparent;
    border: none;
    box-shadow: none;
}

.custom-product .custom-quantity-wrapper .product-form__submit {
    padding: 15px 30px;
}

.custom-product .custom-quantity-wrapper .product-form__submit:after,
.custom-product .custom-quantity-wrapper .product-form__submit:before {
    display: none;
}

.custom-product .wishlist-chat__wrapper {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 30px;
    width: 100%;
    padding: 0 0 20px;
    border-bottom: 1px solid var(--color-background-1);
}

.wishlist-char__inner {
    gap: 30px;
    display: flex;
    align-items: center;
}

.product-vendor {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #C8C8C8;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.custom-product .wishlist-chat__wishlist,
.custom-product .wishlist-chat__chat {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    text-transform: capitalize;
    color: var(--color-text-primary);
    position: relative;
}

.wishlist-chat__wishlist > #smartwishlist {
    width: 30px;
    height: 30px;
}

.custom-product .custom-icon-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-background-1);
}

.custom-product .custom-icon-text__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-product .custom-icon-text__item * {
    margin: 0;
}

.custom-product .custom-icon-text__text {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-text-primary);
    letter-spacing: 0;
}

.lowest-price__wrapper {
    display: none;
    align-items: center;
    gap: 10px;
}

.lowest-price__text {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-text-primary);
    letter-spacing: 0;
}

.lowest-price__price {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-text-primary);
    letter-spacing: 0;
}

.lowest-price__wrapper--show {
    display: flex;
}

.custom-product .product-form__input--color-swatcher {
    display: none;
}

.custom-color-swatches label {
    margin: 0;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    background-color: #000;
    background-size: 45px 45px;
    background-repeat: no-repeat;
}

.custom-color-swatches .color-options-grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.custom-color-swatches input[type=radio] + label {
    padding: 10px;
    border: 3px solid #ffffff;
}

.custom-color-swatches input[type=radio]:checked + label {
    border: 3px solid var(--color-accent-1);
}

.custom-product .product-form__input--dropdown {
    margin-bottom: 20px;
}

.custom-product .custom-quantity-wrapper .custom-quantity-container .buy-buttons__wrapper .product-form,
.custom-product .custom-quantity-wrapper .custom-quantity-container .buy-buttons__wrapper form,
.custom-product .custom-quantity-wrapper .custom-quantity-container .buy-buttons__wrapper .product-form__buttons,
.custom-product .custom-quantity-wrapper .custom-quantity-container .buy-buttons__wrapper .product-form__buttons .product-form__submit {
    height: 100%;
}

.product-card__inner .card__badge {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.custom-product .product-media-container.constrain-height.media-fit-contain {
    height: 100%;
}

.product-card__inner .card__badge span {
    padding: 11px 15px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0;
    border-radius: 0;
}

.product-media-container .product__modal-opener {
    height: 100%;
}

.product-media-container.constrain-height .media {
    padding-top: 100%;
}

.wishlist-manufacturer_wrapper{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.wishlist-manufacturer_wrapper > div{
    max-height: 33px;
    display: flex;
}
.wishlist-manufacturer_wrapper > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 33px;
}
.wishlist-manufacturer_wrapper > div{
    margin-right: 20px;
}
.wishlist-manufacturer_wrapper > div:last-of-type{
    margin-right: 0;
}

@media screen and (min-width: 750px) {
    .custom-product .custom-quantity-wrapper {
        flex-direction: row;
        gap: 15px;
    }

    .custom-product .custom-quantity-wrapper .price--based-quiantity {
        flex: 1 1 96px;
    }

    .custom-product .custom-quantity-wrapper .custom-quantity-container {
        flex: 1 1 100%;
        gap: 34px;
    }

    .custom-product .custom-quantity-wrapper .custom-quantity-container .product-form__quantity {
        flex: 1 1 150px;
    }

    .custom-product .custom-quantity-wrapper .custom-quantity-container .buy-buttons__wrapper {
        flex: 1 1 250px;
    }

    .custom-product .custom-icon-text {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 45px;
    }
}

@media screen and (min-width: 990px) {
    .custom-product .product__info-container > * + * {
        margin: 30px 0;
    }

    .custom-product .custom-quantity-wrapper {
        flex-direction: row;
        gap: 34px;
        margin: 20px 0;
    }

    .custom-product .product__title {
        margin: 0 0 30px;
    }

    .custom-product .price .price-item {
        font-size: 22px;
    }

    .custom-product .product__info-container .price--on-sale .price-item--regular {
        font-size: 18px;
    }

    .custom-product .product-form__input .form__label {
        margin: 0 0 15px;
    }

    .custom-product .product-form__input .select {
        max-width: 252px;
    }

    .custom-product .custom-quantity-wrapper {
        padding: 16px 23px;
    }

    .custom-product .custom-quantity-wrapper {
        flex-wrap: wrap;
        gap: 20px;
    }

    .custom-product .wishlist-chat__wrapper {
        padding-bottom: 30px;
        gap: 0;
    }

    .custom-product .custom-icon-text {
        row-gap: 15px;
        column-gap: 86px;
        padding-bottom: 30px;
    }

    .custom-product .product-form__input--dropdown {
        margin-bottom: 30px;
    }

    .custom-product .custom-quantity-wrapper .price--based-quiantity {
        font-size: 22px;
    }
}

@media screen and (min-width: 1250px) {
    .custom-product .custom-quantity-wrapper {
        flex-wrap: nowrap;
        gap: 34px;
    }
}

@media screen and (max-width: 1100px) {

    .custom-product .wishlist-chat__wrapper {
        flex-direction: column;
        gap: 0;
        justify-content: center;
    }

    .custom-product .wishlist-chat__wrapper .wishlist-manufacturer {
        margin-top: 20px;
    }
}

@media screen and (max-width: 989px) {
    .product__media-list .product__media-item:not(:first-child) {
        /*max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);*/
    }

    .custom-product .product.grid {
        gap: 30px;
    }
}

@media screen and (max-width: 749px) {
    .slider.slider--mobile {
        /*flex-wrap: wrap;*/
        /*overflow-x: hidden;*/
        /*scroll-snap-type: none;*/
        /*scroll-behavior: initial;*/
        /*scroll-padding-left: 0;*/
        /*gap: 15px;*/
        /*align-items: center;*/
        /*justify-content: flex-start;*/
        /*padding: 0 15px;*/
        overflow: hidden;
    }

    .product-card__inner .card__badge span {
        padding: 4px;
        font-size: 12px;
    }

    .custom-product .slider-buttons {
        display: none;
    }
}