.product-label-hover {
    position: relative;
}

/*.product-label-hover:hover .variant__hovering{*/
/*  opacity: 1;*/
/*  visibility: visible;*/
/*}*/

.variant__hovering {
    pointer-events: none;
    position: fixed;
    background: #353c4e;
    margin-left: 5px;
    margin-right: 5px;
    /*margin: auto 10px 16px;*/
    border-radius: 4px;
    line-height: 15px;
    color: var(--color-text-accent);
    padding: 10px;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
    z-index: 9999;
    width: 220px;
    height: auto;
}

.variant__hovering--title{
    white-space: pre-wrap;
    line-height: 15px;
    padding-top: 5px;
}

.variant__hovering--image {
    width: 200px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
}

@media screen and (min-width: 991px) {
    .product-label-hover:hover::after {
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        content: '';
        position: absolute;
        pointer-events: none;
        border: solid;
        border-color: #353c4e #0000 #0000;
        border-width: 5px;
    }
}