.horizontal__filter.facets-container {
    top: 0;
}

.horizontal__filter.facets-container .facets__disclosure {
    border: 1px solid var(--color-text-primary);
    margin-right: 10px;
    height: 47px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.horizontal__filter.facets-container .facets__disclosure[open] .facets__summary>div svg{
    transform: rotate(180deg);
}

.horizontal__filter.facets-container .facets__disclosure {
    box-shadow: none;
    outline: none;
}

.horizontal__filter.facets-container .facets__summary > div svg {
    margin-left: 11px;
}

.horizontal__filter.facets-container .facets__summary > div {
    height: 100%;
    justify-content: center;
    outline: none;
    box-shadow: none;
}

.facets__summary:hover span {
    text-decoration: none;
    text-underline-offset: 0;
}

.horizontal__filter.facets-container .facets__display {
    border: 1px solid var(--color-text-primary);
}

.horizontal__filter.facets-container .facets__header {
    padding: 5px 20px;
    color: var(--color-text-primary);
    border-bottom: 1px solid var(--color-text-primary);
}

.horizontal__filter.facets-container .facets__price {
    padding: 10px 20px;
}

.horizontal__filter.facets-container .middle {
    position: relative;
    height: 30px;
    margin-top: 24px;
    width: calc(100% - 40px);
    left: 20px;
}

.horizontal__filter.facets-container .slider {
    margin: 0 0 0 16px;
}

.horizontal__filter.facets-container .active-facets {
    margin-top: 0;
}

.horizontal__filter.facets-container .facets__form {
    grid-template-columns: none;
}

.horizontal__filter.facets-container .facets__price > .field-currency {
    display: none;
}

.horizontal__filter.facets-container facet-remove a {
    text-decoration: none;
}

.horizontal__filter.facets-container .facets__list {
    padding: 10px 20px;
}

.horizontal__filter.facets-container .facets__summary {
    margin-bottom: 0;
    margin-right: 0;
    padding: 0 20px;
    height: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--color-text-primary);
    pointer-events: initial;
}

.horizontal__filter.facets-container .facet-filters {
    margin-left: 20px;
}

.facets-horizontal {
    display: none;
}

.facet-filters__custom-select.display-none {
    display: none;
}

.template-search .collection .grid{
    /*column-gap: 10px;*/
    /*row-gap: 10px;*/
}

@media screen and (max-width: 989px) {
    .horizontal__filter.facets-container .active-facets {
        margin: 0;
    }

    .horizontal__filter.facets-container .active-facets__button,
    .horizontal__filter.facets-container .active-facets__button-remove {
        margin: 0 5px 5px 0;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .disclosure-has-popup[open] > .facets__summary:before {
        z-index: -1;
    }

    .horizontal__filter.facets-container .facets__form {
        display: flex;
        flex-direction: column;
    }

    .horizontal__filter.facets-container .facet-filters {
        display: none;
    }

    .horizontal__filter.facets-container facet-filters-form.mobile-facets__filter {

    }

    .horizontal__filter.facets-container .active-facets {
        order: 1;
        margin-bottom: 35px;
    }

    .horizontal__filter.facets-container #FacetsWrapperDesktop {
        order: 2;
        width: 100%;
    }

    .horizontal__filter.facets-container .active-facets__button, .horizontal__filter.facets-container .active-facets__button-remove {
        padding: 5px 10px;
    }

    .horizontal__filter.facets-container facet-filters.sorting {
        display: none;
    }

    .horizontal__filter.facets-container .facets__summary {
        pointer-events: none;
    }

    .horizontal__filter.facets-container .facets__display {
        position: initial;
        top: auto;
        left: auto;
        width: 100%;
        max-height: none;
        overflow: hidden;
        border: none;
    }

    .horizontal__filter.facets-container .facets__header {
        display: none;
    }

    .horizontal__filter.facets-container .facets__summary > div {
        justify-content: flex-start;
    }

    .horizontal__filter.facets-container .facets__list {
        padding: 0;
    }

    .horizontal__filter.facets-container .facets__disclosure {
        padding: 0;
        margin-right: 0;
        height: auto;
        border: none;
        width: 100%;
    }

    .horizontal__filter.facets-container .facets__summary > div svg {
        margin-left: 0;
        display: none;
    }

    .horizontal__filter.facets-container .facets__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .collection-horizontal .grid--2-col-tablet-down .grid__item {
        width: calc(50% - 15px / 2);
    }


    .collection .grid {
        column-gap: 15px;
        row-gap: 15px;
    }

    .horizontal__filter.facets-container .middle {
        width: 100%;
        left: 0;
        height: 13px;
        margin-top: 7px;
    }

    .horizontal__filter.facets-container .facets__price {
        padding: 10px 0 0 0;
    }

    .horizontal__filter.facets-container .facets__summary {
        font-size: 22px;
        margin-bottom: 20px;
        padding: 0;
    }

    .horizontal__filter.facets-container .facets__disclosure {
        margin-bottom: 60px;
    }

    .horizontal__filter.facets-container .facets__disclosure:last-child {
        margin-bottom: 0;
    }

    .facets-horizontal {
        display: block;
    }

    .horizontal__filter.facets-container {
        column-gap: 0;
    }

    .horizontal__filter.facets-container .facets-custom__filter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .horizontal__filter.facets-container .facet-filters__custom-select.display-none {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}