.home-page-subscribe {
    padding: 0;
}

.home-page-subscribe__container {
    padding: 40px 15px;
    background-color: #EFEFEF;
}

.home-page-subscribe__title {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #1A1919;
    margin: 0 0 15px;
}

.home-page-subscribe__title p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    text-transform: inherit;
    color: inherit;
    margin: 0;
}

.home-page-subscribe__title b {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    text-transform: inherit;
    text-transform: uppercase;
    color: #0F4880;
}

.home-page-subscribe__text {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #1A1919;
    margin: 0 0 40px;
}

.home-page-subscribe__input {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    outline: transparent;
    border: 1px solid #C8C8C8;
    padding: 19px 15px;
    width: 100%;
    box-shadow: none;

    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #1A1919;
    margin: 0 0 20px;
}

.home-page-subscribe__input::placeholder {
    color: rgba(26, 25, 25, 0.7);
}

.home-page-subscribe__button {
    padding: 21px 60px;
    width: 100%;
}

@media screen and (min-width:769px) {
    .home-page-subscribe__form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home-page-subscribe__title {
        margin-bottom: 20px;
    }

    .home-page-subscribe__input {
        margin: 0;
        flex: 1 1 400px;
        max-width: 400px;
    }

    .home-page-subscribe__button {
        flex: 1 1 190px;
        max-width: 190px;
    }
}


@media screen and (min-width:1025px) {
    .home-page-subscribe__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 77px 50px;
    }

    .home-page-subscribe__content {
        flex: 1 1 415px;
        max-width: 455px;
        text-align: center;
    }

    .home-page-subscribe__text {
        margin: 0;
        max-width: 370px;
        margin: 0 auto;
        text-transform: none;
    }

    .home-page-subscribe__form {
        flex: 1 1 590px;
        max-width: 590px;
        justify-content: start;
    }
}