.product-highlights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    padding: 0 15px;
}

.product-highlights__tabs {
    flex: 1 1 50%;
}

.mobile__video{
    display: none;
}

.product-highlights__tab {
    border-bottom: 1px solid var(--color-background-1);
}

.product-highlights__tab.active .product-highlights__tab-content {
    max-height: 10000px;
    transition: max-height .5s .5s linear;
}

.product-highlight__inner{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.product-highlight__title{
    min-width: 200px;
    text-transform: uppercase;
    font-weight: 500;
}

.product-highlights__tab.active .product-highlights__tab-label--icon::after {
    opacity: 0;
    visibility: hidden;
}

.product-highlights__tab:not(:last-child) {
    margin: 0 0 15px;
}

.product-highlights__tab-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: var(--color-text-primary);
    padding: 0 0 15px;
    margin: 0;
}

.product-highlights__tab-label:hover .product-highlights__tab-label--icon {
    animation: labelHover .3s ease-in-out;
    transform: rotate(0deg);
}

.product-highlights__tab.active .product-highlights__tab-label--icon {
    transform: rotate(180deg);
}

.product-highlights__tab-label--icon {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    padding: 3px;
    transition: .2s linear;
}
.product-highlights__tab-label--icon::before,
.product-highlights__tab-label--icon::after {
    content: '';
    display: block;
    width: 14px;
    height: 1px;
    background-color: var(--color-text-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .2s ease;
    transform-origin: center;
    transform: translate(-50%, -50%);
}

.product-highlights__tab-label--icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.product-highlights__tab-content {
    max-height: 0;
    overflow: hidden;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-text-primary);
    transition: max-height .5s linear;
}

.product-highlights__tab-content > *:last-child {
    margin: 0 0 15px;
}

.product-highlights__tab-content strong {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.product-highlights__tab-content * {
    /*margin: 0;*/
}

.product-highlights__tab-content h3,
.product-highlights__tab-content h4,
.product-highlights__tab-content h5,
.product-highlights__tab-content h6 {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-text-primary);
    margin: 0 0 15px;
}

.product-highlights__tab-content ul,
.product-highlights__tab-content ol {
    appearance: none;
    /*list-style: none;*/
    padding: 0 0 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-highlights__tab-content ul li {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.product-highlights__main {
    flex: 1 1 50%;
}

.product-highlights__main-image {
    /*margin: 0 0 25px;*/
}

.product-highlights__main-image::before {
    /*padding-top: 55.07%;*/
    /*margin: 0 0 25px;*/
}

.product-highlights__main-image::before{
    display: none;
}

.plyr__control svg{
    width: 14px;
    height: 14px;
}

.plyr video{
    position: initial;
    left: auto;
    top: auto;
    height: auto;
}

.product-highlights__main-image iframe {
    width: 100%;
}

.product-highlights__main-image::before {
    padding-top: 55.07%;
    margin: 0 0 25px;
}

.product-highlights__main-text {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-text-primary);
}

.product-highlights__main-text * {
    margin: 0 0 15px 0;
}

.product__instruction {
    margin: 0 0 15px 0;
    color: #ffffff;
    padding: 10px;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-accent-1);
    border: 1px solid var(--color-accent-1);
    transition: all 0.3s ease-in-out;
}

.product__instruction:hover {
    background-color: transparent;
    color: var(--color-text-primary);
}

.product__instruction-title {
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

@media screen and (min-width:750px) {
    .product-highlights {
        flex-direction: row;
        gap: 20px;
        /*padding: 0 50px;*/
    }
}

@media screen and (min-width:990px) {
    .product-highlights {
        /*padding: 0 100px;*/
    }

    .product-highlights__main-image {
        /*margin: 0 0 30px;*/
    }
}

@media screen and (min-width: 1441px){
    .product-highlights{
        padding: 0 100px;
    }
}

@keyframes labelHover {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .mobile__video {
        display: block;
    }

    .desktop__video {
        display: none;
    }
}
